.header {
    color: #222222;
    padding: 3vh 0;
    text-transform: uppercase;
}

.header h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6vh;
    font-weight: 900;
    line-height: 1;
}

.header h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4vh;
    font-weight: 200;
    line-height: 0;
}