* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(207,182,182,1) 0%, rgba(207,182,182,1) 7%, rgba(207,182,182,1) 32%, rgba(237,158,0,1) 99%, rgba(237,158,0,1) 100%);
}

.container {
    max-width: 1200px;
    margin: auto;
}